* {
  font-family: 'Cormorant SC',serif;
}
.titulo {
  text-align: center;
}

p {
  text-align: justify;
}

.col-sm-6 ul li {
  color: #FFFFFF;
  list-style: none;
  font-size: 16px;
}

nav {
  width: 16%;
}

nav ul {
  margin-left: 0px;
}

nav ul li{
  margin: 8px 0px;
}

nav ul li i {
  display: none;
}

.nav-ul-dist{
    margin-top: 30px;
    height: auto;
}

.nav-li-dist{
  padding-bottom: 15px;
}


.link-button a {
  display: inline-block;
  border: 2px solid #fff;
  padding: 8px 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

.text-muted li {
  color: white;
  font-size: large;
  list-style: none;
}

.col-sm-12 ul li {
  color: black;
  list-style: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.right-content li {
  color: black;
  list-style: none;
  font-size: 13px;
}

.slide .content .container-fluid .col-sm-12 img {
  width: 100%;
  padding: 20px;
}
.col-sm-12 .text-muted li {
  color: black;
  list-style: none;
}

.slides .slide img {
  width: unset;
}

.slides .slide .content {
  left: 17%;
  width: 82%;
  background-color: #ffffffeb;
}


.col-md-9 h2 {
  padding-top: 6px;
}

.color_lista {
  color: #fff;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 26px;
  margin-bottom: 20px;
}

.alinear{
  text-align: center;
}

.list-group li{
  padding: 10px;
  text-align: initial;
}

.autores{
  padding: 5px 451px;
}

.parrafo{
  padding: 10px 358px;
  margin: auto;
}

.list-group li, .text-muted {
  font-size: 15px;
  list-style: none;
  font-weight: 300;
}

.link-button .list-group-item {
  color: black;
}
.col-sm-12 ul li {
  color: #FFFFFF;
  list-style: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.right-content li {
  color: #FFFFFF;
  list-style: none;
  font-size: 20px;
}

.col-sm-12 .text-muted li {
  color: #FFFFFF;
  list-style: none;
}

.slides .slide .content {
  left: 17%;
  width: 82%;
}

.cuadrar_img{
  display: block;
  margin: auto;
  width: 60%;
}
.alinear{
  text-align: center;
}

.picture {
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 6px 6px 0px rgba(32, 31, 31, 0.1);
  height: auto;
  padding-top: 20px;
}

.boton:hover {
  background: rgba(0, 0, 0, 0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999;
}

.div{
  color: #e7efde;
  color: #8a8894 ;
  color: #ece4e1;
  color: #e9d98e ;
  color: #9cb950;
  color: #7db2b1;
}


.footer .content .col-md-9 .license{
  color: black;
  padding-left: 100px;
  font-size: 15px;
}
